<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{{ url_for('resume') }}">Мій Flask сайт</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <!-- Резюме -->
                <li class="nav-item">
                    <a class="nav-link {% if title == 'Резюме' %}active{% endif %}"
                       href="{{ url_for('resume') }}">Резюме</a>
                </li>

                <!-- Контакти -->
                <li class="nav-item">
                    <a class="nav-link {% if title == 'Контакти' %}active{% endif %}"
                       href="{{ url_for('contacts') }}">Контакти</a>
                </li>

                {% if current_user.is_authenticated %}

                    <!-- Номери -->
                    <li class="nav-item">
                        <a class="nav-link {% if title == 'Номери' %}active{% endif %}"
                           href="{{ url_for('rooms.list_rooms') }}">
                            Номери
                        </a>
                    </li>

                    <!-- Профіль -->
                    <li class="nav-item">
                        <a class="nav-link {% if title == 'Профіль' %}active{% endif %}"
                           href="{{ url_for('users.profile') }}">
                            Профіль
                        </a>
                    </li>

                    <!-- Logout -->
                    <li class="nav-item">
                        <a class="nav-link text-warning"
                           href="{{ url_for('users.logout') }}">
                            Вийти
                        </a>
                    </li>

                {% else %}

                    <!-- Login -->
                    <li class="nav-item">
                        <a class="nav-link {% if title == 'Login' %}active{% endif %}"
                           href="{{ url_for('users.login') }}">
                            Вхід
                        </a>
                    </li>

                    <!-- Register -->
                    <li class="nav-item">
                        <a class="nav-link {% if title == 'Register' %}active{% endif %}"
                           href="{{ url_for('users.register') }}">
                            Реєстрація
                        </a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>
