{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-lg p-4">
            <h1 class="card-title text-center mb-4">{{ product.name }}</h1>

            {% if product.description %}
            <p class="lead">{{ product.description }}</p>
            {% endif %}

            <hr>

            <dl class="row">
                <dt class="col-sm-3">ID продукту</dt>
                <dd class="col-sm-9">{{ product.id }}</dd>

                {% if product.price %}
                <dt class="col-sm-3">Ціна</dt>
                <dd class="col-sm-9">${{ product.price }}</dd>
                {% endif %}
            </dl>

            <hr>

            <a href="{{ url_for('products.product_list') }}" class="btn btn-secondary">
                ← Назад до каталогу
            </a>
        </div>
    </div>
</div>
{% endblock %}
