{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('posts.static', filename='css/posts.css') }}">
{% endblock %}

{% from "_form_macros.html" import render_field %}

{% block title %}Новий пост{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Створити пост</h1>

<form method="POST" novalidate>
    {{ form.hidden_tag() }}

    {{ render_field(form.title) }}
    {{ render_field(form.content) }}
    {{ render_field(form.tags) }}


    {{ render_field(form.user_id) }}

    {{ form.submit(class="btn btn-primary w-100") }}
</form>

<a href="{{ url_for('posts.post_list') }}" class="btn btn-secondary mt-3 w-100">
    Назад
</a>
{% endblock %}
